In [36]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [2]:
titanic_data = pd.read_csv("/home/jupyter/mnt/s3/titanic-dataset/titanic_train.csv")

In [3]:
titanic_data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [10]:
y = titanic_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch", "Age", "Fare"]
X = pd.get_dummies(titanic_data[features])

In [13]:
X['Age'] = X['Age'].fillna(X['Age'].median())

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

### Random Forest

In [16]:
model = RandomForestClassifier(n_estimators=10, max_depth=5, random_state=1)
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [25]:
confusion_matrix(y_test, predictions)

array([[117,  17],
       [ 27,  62]])

In [39]:
print("Precision score is: ", end="")
print("{0:.2f}".format(precision_score(y_test, predictions)))
print("Recall score is: ", end="")
print("{0:.2f}".format(recall_score(y_test, predictions)))
print("F1 score is: ", end="")
print("{0:.2f}".format(f1_score(y_test, predictions)))

Precision score is: 0.78
Recall score is: 0.70
F1 score is: 0.74

### CatBoost

In [49]:
#!g1.1
from catboost import CatBoostClassifier

model = CatBoostClassifier(iterations=1000,
                           task_type="GPU",
                           devices="0")
model.fit(X_train,
          y_train,
          verbose=False)

CPU times: user 23.1 s, sys: 7.06 s, total: 30.2 s
Wall time: 23.7 s

In [51]:
#!g1.1
predictions = model.predict(X_test)

In [54]:
confusion_matrix(y_test, predictions)

array([[124,  10],
       [ 29,  60]])

In [55]:
print("Precision score is: ", end="")
print("{0:.2f}".format(precision_score(y_test, predictions)))
print("Recall score is: ", end="")
print("{0:.2f}".format(recall_score(y_test, predictions)))
print("F1 score is: ", end="")
print("{0:.2f}".format(f1_score(y_test, predictions)))

Precision score is: 0.86
Recall score is: 0.67
F1 score is: 0.75